.wbdv-padding-sides {
	padding-left: 20px;
	padding-right: 20px;
}

.wbdv-home-quote {
	color: black;
	font-family: "Times New Roman", serif;
	font-size: larger;
}

#quote-div {
	left: 12.5%;
	width: 75%;
	position: relative;
}
