.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wbdv-btm-border {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  bottom: 0;
  background-color: #d9ebef;
}

.wbdv-left-border {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #d9ebef;
}

.wbdv-right-border {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #d9ebef;
}

.wbdv-full-height {
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
